<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Built with &#10084, <a href="https://www.11ty.dev/"><strong>11ty</strong></a> and <a href="https://bulma.io/"><strong>Bulma</strong></a>.
    </p>
    <p>
      <a href="mailto:oussama.bennasr@supcom.tn">oussama.bennasr@supcom.tn</a>
    </p>
  </div>
</footer>
