<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Oussama Ben Nasr, SDE, personal blog, software development engineer, Higher School of Communication, SUPCOM">
		<link rel="stylesheet" href="/css/style.css" />
		<title>{{ title }}</title>
	</head>
	<body>
		<header>{% include "nav.njk" %}</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>
